a {
  text-decoration: none;
}

.tetris-game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tetris-game {
  min-height: 950px;
  height: 100vh;
  background: -moz-linear-gradient(90deg, #FF00FF 0%, #08D6FF 69%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, #08D6FF), color-stop(100%, #FF00FF)); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, #FF00FF 0%, #08D6FF 69%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, #FF00FF 0%, #08D6FF 69%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, #FF00FF 0%, #08D6FF 69%); /* ie10+ */
  background: linear-gradient(0deg, #FF00FF 0%, #08D6FF 69%); /* w3c */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08D6FF', endColorstr='#FF00FF',GradientType=0 ); /* ie6-9 */*/
}

.title {
  margin: 20px auto;
}

.tetris-container {
  display: flex;
  z-index: 1;
}

#modal {
  margin-top: 45px;
  margin-left: 25px;
  background: -moz-linear-gradient(90deg, #FF00FF 0%, #08D6FF 69%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, #08D6FF), color-stop(100%, #FF00FF)); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, #FF00FF 0%, #08D6FF 69%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, #FF00FF 0%, #08D6FF 69%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, #FF00FF 0%, #08D6FF 69%); /* ie10+ */
  background: linear-gradient(0deg, #FF00FF 0%, #08D6FF 69%); /* w3c */
  /*border: 25px solid rgba(0, 0, 0, 0.56);*/
  /*border-radius: 25px;*/
}

.modal-on {
  position: absolute;
  min-width: 299.5px;
  min-height: 600px;
  max-width: 299.5px;
  max-height: 600px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.modal-off {
  position: absolute;
  display: none;
  /*z-index: -1;*/
}

.intro {
  font-family: 'Orbitron', sans-serif;
  color: #c460ce;
  text-align: center;
  line-height: 65px;
  text-transform: uppercase;
}

.intro-2 {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 25px;
  line-height: 40px;
}

.enter-icon {
  width: 14%;
}

.tetris-canvas {
  border: 25px solid rgba(0, 0, 0, 0.56);
  border-radius: 25px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.stats {
  align-self: center;
  width: 75%;
  margin: 0 auto;
  margin-top: 40px;
}

.score-container, .level-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.score-lvl {
  display: flex;
  align-items: center;
  font-size: -webkit-xxx-large;
  color: #ff00ff;
  font-weight: 700;
  color: #FD29FC;
  font-family: 'Press Start 2P', cursive;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

.controls-container {
  height: 300px;
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
  flex-direction: column;
  justify-content: space-evenly;
}

.arrow {
  display: flex;
}

.arrow-icon {
  margin-right: 25px;
}

.arrow-icon > img {
  background: rgba(255, 255, 255, 0.5);
}

.arrow > div:last-of-type {
  font-family: 'Orbitron', sans-serif;
  font-size: 2em;
  color: black;
  padding: 3px;
}

.spacebar-icon {
  width: 77px;
  height: 33px;
  background-color: #ffffff66;
  border: 3px solid black;
  font-family: Orbitron;
  font-size: 1em;
  text-align: center;
  line-height: 33px;
  margin-right: 25px;
}

body {
  margin: 0 auto;
}


.icon-link {
  padding: 1px;
  margin: 10px 5px;
  margin-right: 11px;
  background-color: white;
  width: 37px;
  height: 48px;
  border-radius: 24px;
  display: inline-block;
  position: relative;
}

.linkedin-link {
  background: black;
  border-radius: 27px;
  width: 52px;
  height: 52px;
}

.fa {
  width: 20px;
  height: 20px;
  position: absolute;
  // top: 7px;
  // left: 11px;
  // font-size: 1.7em;
  color: black;
}

.fa-github {
  position: absolute;
  top: -8px;
  left: -7px;
  font-size: 4em;
  color: black;
}

.fa-linkedin {
  top: 4px;
  left: 10px;
  font-size: 2.5em;
  color: white;
}

.git-link:hover {
  background: transparent;
}

.fa-github:hover {
  color: white;
}

.linkedin-link:hover {
  background: #0077B5;

  // .fa-linkedin {
  //   color: #fff;
  // }
}

footer {
  font-family: Orbitron;
  font-size: 1em;
  font-weight: 600;
}

footer a {
  color: black;
}

footer a:hover {
  color: #228DFF;
}

.neon-effect {
  text-align:center;
  font-size:40px;
  margin:20px 0 20px 0;
  color:#ffffff;
  text-shadow: 0 0 10px #ffffff,
             0 0 20px  #ffffff,
             0 0 30px  #ffffff,
             0 0 40px  #228DFF,
             0 0 70px  #228DFF,
             0 0 80px  #228DFF,
             0 0 100px #228DFF,
             0 0 150px #228DFF;
  /*Animation*/
  -webkit-animation: neonAnimation 1.5s ease-in-out infinite alternate;
  -moz-animation: neonAnimation 1.5s ease-in-out infinite alternate;
  animation: neonAnimation 1.5s ease-in-out infinite alternate;
}


/*Webkit prefix*/
@-webkit-keyframes neonAnimation {
    from {
      box-shadow: 0 0 10px #ffffff,
                 0 0 20px  #ffffff,
                 0 0 30px  #ffffff,
                 0 0 40px  #228DFF,
                 0 0 70px  #228DFF,
                 0 0 80px  #228DFF,
                 0 0 100px #228DFF,
                 0 0 150px #228DFF;
    }
    to {
      box-shadow: 0 0 5px #ffffff,
                 0 0 10px #ffffff,
                 0 0 15px #ffffff,
                 0 0 20px #228DFF,
                 0 0 35px #228DFF,
                 0 0 40px #228DFF,
                 0 0 50px #228DFF,
                 0 0 75px #228DFF;
    }
}


/*Moz prefix*/
@-moz-keyframes neonAnimation {
    from {
      box-shadow: 0 0 10px #ffffff,
                 0 0 20px  #ffffff,
                 0 0 30px  #ffffff,
                 0 0 40px  #228DFF,
                 0 0 70px  #228DFF,
                 0 0 80px  #228DFF,
                 0 0 100px #228DFF,
                 0 0 150px #228DFF;
    }
    to {
      box-shadow: 0 0 5px #ffffff,
                 0 0 10px #ffffff,
                 0 0 15px #ffffff,
                 0 0 20px #228DFF,
                 0 0 35px #228DFF,
                 0 0 40px #228DFF,
                 0 0 50px #228DFF,
                 0 0 75px #228DFF;
    }
}

/*No prefix*/
@keyframes neonAnimation {
    from {
      box-shadow: 0 0 10px #ffffff,
                 0 0 20px  #ffffff,
                 0 0 30px  #ffffff,
                 0 0 40px  #228DFF,
                 0 0 70px  #228DFF,
                 0 0 80px  #228DFF,
                 0 0 100px #228DFF,
                 0 0 150px #228DFF;
    }
    to {
      box-shadow: 0 0 5px #ffffff,
            0 0 10px #ffffff,
            0 0 15px #ffffff,
            0 0 20px #228DFF,
            0 0 35px #228DFF,
            0 0 40px #228DFF,
            0 0 50px #228DFF,
            0 0 75px #228DFF;
    }
}
